WebApp/Service References/SaleSupportService/SaleSupport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Radyn.CrmDesk.DataStructure.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Radyn.CrmDesk.DataStructure.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DealModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SellerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelInternal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DealModel" nillable="true" type="tns:DealModel" />
</xs:schema>